.popular{
    background-color:beige ;
}

.popular__container{
    padding-block: 5rem;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem 1.5rem;
}
.popular__card{
    position: relative;
    padding: 6rem .75rem 1rem;
    border-radius: 1rem;
    border: 4px solid var(white);
}
.popular__img{
    position: absolute;
    top: -2rem;
    left: 0;
    right: 0;
    width: 120px;
    margin: 0 auto;
    filter: drop-shadow(3px);
    transition: transform .4s;
}

.popular__title{
    font-size: var(--normal-font-size);
    margin-bottom: .75rem;
}

.popular__price{
    color:black;
    font-family: var(--second-font);
    font-size: var(--h2-font-size);
}

.popular__button{
    position: absolute;
    right: .75rem;
    bottom: 1rem;
    outline: none;
    border:none;
    background-color: var(--second-color);
    color:white;
    padding: 6px;
    border-radius: .5rem;
    font-size: 1.25rem;
    display: inline-flex;
    cursor: pointer;
}

.popular__card:hover .popular__img{
    transform: translateY(-.5rem);
}