body{
    background-color:beige;
}
.section_title{
    color:chocolate;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
}
.recipe{
    overflow:hidden;

}

.recipe_container{
grid-template-columns: .5fr 1fr;
column-gap:1rem;
padding-bottom:2rem;
}

.recipe_image{

    position:relative;
    display:grid;
    place-items:center;
}

.recipe_img{
    position:absolute;
    max-width: initial;
    width:250px;
    height:800px;
    right: 10rem;
    margin-top: 1000px;
    filter: var(--shadow-big-img);
}
.recipe_data{
    display:grid;
    row-gap: 2rem;

}
.recipe_card{
    display:flex;
    align-items: center;
    column-gap: .5rem;

}

.recipe_box{
width:60px;
height:60px;
flex-shrink: 0;
background-color:var(--first-color--);
border: 3px solid var(--container-color);
border-radius: .75rem;
display:grid;
place-items: center;
}

.recipe_box img{
    margin-left: 100px;
    width:100px;
    height:60px;
    filter:var(--shadow-small-img);
}

.recipe_title{
    margin-left: 150px;
    font-size: 50px;
    margin-bottom: .5rem;
}
.recipe_description{
    margin-left: 170px;
    font-size: 30px;
    color:dimgray;
}
.recipe_card:nth-child(even).recipe_box{
    order:1;
}